# Jekyll build output
jekyll-site/_site/
jekyll-site/.jekyll-cache/
jekyll-site/.jekyll-metadata

# Bundler
jekyll-site/Gemfile.lock
jekyll-site/vendor/

# Environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Editor
.idea/

# Repositories
repo
